@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");


/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

/* Set background color for the entire page */
body {
  background-color: #fefcf9;
}

/* top-navbar*/
.top-navbar {
  padding: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: auto;
  background-color: black;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.top-navbar h1 {
  font-family: 'Dancing Script', cursive;
  color: #F4C2C2;
  font-size: 70px;
}
.top-navbar .top-links {
  margin-left: auto;
  padding-right: 30px;
}
.top-navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  font-size: 20px;
}
.top-navbar a:hover {
  color: #f1356d;
}

/* main-navbar*/
.main-navbar {
  padding: 15px;
  display: flex;
  max-width: 1500px;
  background-color: #F4C2C2;
  margin-bottom: 0 auto;
}


.main-navbar .links {
  display: flex;
}

.main-navbar .links a {
  margin-right: 80px;
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

.main-navbar .links a:hover {
  color: #f1356d;
}

.home {
  position: relative;
}

.piano-image {
  width: 100%; /* Adjust the width to make the image larger */
  height: auto; /* Maintain aspect ratio */
}

.quote-container {
  position: absolute;
  top: 350px; /* Adjust the vertical position as needed */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 90%; /* Adjust the width of the container */
}
.quote {
  font-size: 70px; /* Adjust the font size as needed */
  font-family: 'Dancing Script', cursive;
  color: white; /* Text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for better visibility */
}


.content {
  text-align: center; /* Center the content horizontally */
  color: white; /* Change text color for better contrast */
}


/* about us */
.aboutUs-container {
  text-align: center;
  margin: auto;
  max-width: 900px;
  padding: 20px;
}

.aboutUs-content {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.aboutUs-content p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.aboutUs-content h2 {
  font-size: 35px;
  margin-bottom: 20px;
  color: #333;
}

/* pricing page */
.pricing {
  text-align: center;
}

.pricing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pricing-image {
  flex: 1;
}

.pricing-image img {
  max-width: 80%;
}

.pricing-details {
  flex: 1;
  align-self: flex-start; /* Align the pricing details container to the start of the flex container */
  padding-right: 50px;
}
.pricing-details table {
  font-size: 20px; /* Adjust the font size as needed */
  border-collapse: collapse;
  width: 100%;
  
}
.pricing-details th,
.pricing-details td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}
.pricing-details h2 {
  font-size: 35px; /* Adjust the font size as needed */
  padding: 20px 0; /* Adjust the padding as needed */
}
.pricing-details p {
  font-size: 18px;
  padding-bottom: 30px;
  line-height: 2.0;
}

@media (max-width: 768px) {
  .pricing-container {
      flex-direction: column;
  }

  .pricing-details {
      padding: 20px 0;
  }
}

.policy {
  background-color: #f2f2f2; /* Grey background color */
  padding: 20px 50px 100px; /* Add padding for spacing */
  margin-top: 20px; /* Add margin to separate from the pricing details */
  text-align: left;

}

.policy h2 {
  font-size: 35px; /* Adjust the font size as needed */
  padding: 20px 0;
  color: #333; /* Set the color of the heading */
  text-align: center;
}

.policy p {
  font-size: 18px; /* Adjust the font size as needed */
  color: #555; /* Set the color of the text */
}