@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");


/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

/* Set background color for the entire page */
body {
  background-color: #fefcf9;
}

/* top-navbar*/
.top-navbar {
  padding: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: auto;
  background-color: black;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.top-navbar h1 {
  font-family: 'Dancing Script', cursive;
  color: #F4C2C2;
  font-size: 70px;
}
.top-navbar .top-links {
  margin-left: auto;
}
.top-navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  font-size: 20px;
}
.top-navbar a:hover {
  color: #f1356d;
}

/* main-navbar*/
.main-navbar {
  padding: 15px;
  display: flex;
  max-width: 1500px;
  background-color: #F4C2C2;
  margin-bottom: 0 auto;
}

.main-navbar .links {
  display: flex;
}

.main-navbar .links a {
  margin-right: 80px;
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

.main-navbar .links a:hover {
  color: #f1356d;
}

.home {
  position: relative;
}

.piano-image {
  width: 100%; /* Adjust the width to make the image larger */
  height: auto; /* Maintain aspect ratio */
}

.quote-container {
  position: absolute;
  top: 350px; /* Adjust the vertical position as needed */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 90%; /* Adjust the width of the container */
}
.quote {
  font-size: 70px; /* Adjust the font size as needed */
  font-family: 'Dancing Script', cursive;
  color: white; /* Text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for better visibility */
}


.content {
  text-align: center; /* Center the content horizontally */
  color: white; /* Change text color for better contrast */
}


